h1{
    text-align: center;
    margin-top: 30px;
}

.controls{
    text-align: center;
    margin-top: 20px;
}
.turn{
    margin-bottom: 20px;
    padding: 5px 20px;
    border: 1px dashed black;
}

.new_game{
    margin-top: 20px;
}

.figure{
    width: 35px;
    height: 35px;
}

.over {
    border: 2px dashed #000;
}

.figure_grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.figure_grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.hovered{
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

.availableMove{
    background-color: #67aaaa;
}

.forbiddenMove{
    background-color: #AA0000;
}

body{
    background-image: url('../../images/bg.png');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}