.js-desc {
    margin-top: 20px;
}

.desc {
    border-spacing: 0;
    margin: 0 auto;
    border: 1px solid black;
}

.desc__cell {
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
}

.desc__cell_active {
    background-color: red;
}


.index{
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
}

.index-left{
    top: 2px;
    left: 2px;
}

.index-bottom{
    bottom: 1px;
    right: 3px;
}

.black-field{
    background-color: #b58863;
    color: #f0d9b5;
}

.white-field{
    background-color: #f0d9b5;
    color: #b58863;
}